 #container {
     min-height: 90vh;
     max-width: 1600px;
     margin: 0 auto;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
 }

 h1 {
     visibility: hidden;
     position: absolute;
 }

 header {
     padding: 0 40px;
     background-color: white;
     border-bottom: 1.5px solid rgb(219, 219, 219);
     position: sticky;
     top: 0;
     z-index: 10;
 }

 header button {
     float: right;
     width: 140px;
     height: 45px;
     margin: 20px 15px 0 15px;
     border-radius: 12px;
     font-size: 18px;
     font-weight: bold;
 }

 header button#register {
     background-color: white;
     color: #0195f6;
     border: 0;
 }

 header button#register:hover {
     background-color: rgb(247, 131, 131);
     color: white;
     border: 0;
 }

 header button#login {
     background-color: #0195f6;
     color: white;
     border: 0;
 }

 header button#login:hover {

     color: rgb(247, 131, 131);
     border: 0;
 }

 #insta_logo {
     margin-top: 25px;
     width: 180px;
 }

 nav h2 {
     text-align: center;
     font-size: 30px;
     margin-bottom: 50px;
 }

 nav ul {
     list-style: none;
     font-size: 20px;
 }

 nav ul li {
     display: inline;
     margin-right: 15px;
     background-color: lightgray;
     padding: 15px;
     border-radius: 15px;
 }

 nav ul li:hover {
     background-color: grey;
 }

 nav ul li a {
     text-decoration: none;
     font-weight: bold;
     color: black;
 }

 section {
     margin: 40px;
 }

 section h3 {
     font-size: 25px;
     margin: 70px 0 20px 0;
 }

 .scrollable_container {
     overflow-x: auto;
     white-space: nowrap;
     padding-bottom: 20px;
 }

 section ul {
     list-style: none;
     display: flex;
     padding: 0;
     margin: 0;
 }

 section ul li {
     min-width: 300px;
     height: 600px;
     overflow: hidden;
     margin-right: 15px;
     position: relative;
 }

 section ul li img {
     margin-right: 25px;
     border-radius: 25px;
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .image-container {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .image-text {
     color: rgb(255, 255, 255);
     position: absolute;
     bottom: 0px;
     left: 0;
     width: 250px;
     font-size: 20px;
     font-weight: bold;
     background-color: rgba(0, 0, 0, 0.25);
     padding: 15px 25px;
     border-radius: 0 0 25px 25px;
 }